*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: pink;
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

h1{
  font-size: 3em;
  font-style: italic;
  text-align: center;
  font-weight: 700;
  margin-top: 3rem;
}

h2{
  text-align: center;
  margin-bottom: 25px;
  
}

section{
  padding: 2.5rem;
  margin: 1.25rem auto;
  max-width: 90%;
  border: 2px solid #CC6600;
  border-radius: 0.5rem;
  background-color: 	#ffeeee;
}


/* HEADER SECTION */
header{
  position: sticky; 
  top: 0;
  text-align: space-evenly;
  font-size: 2em;
  font-weight: 650;
  color: #660033;
}

header nav ul{
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  list-style-type: none;
  margin: 0;
  padding: 1rem;

}

header nav li{
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

header nav a{
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}

header nav a:hover{
  color: aliceblue;
}


/* .container{
  position: sticky;
  border: 5px solid salmon;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
  list-style-type: none;
} */


/*@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
  .container > li {
    flex: 1 1 50%;
  }
  
}*/



/* ABOUT SECTION */

#About{
  text-align: center;
}

#fresa{
  max-width: 20%;
  height: 20%;
  border-radius: 8px;
  object-fit: contain;
}

#fresa [alt]{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*EXPERIENCE SECTION */

#Experience{
  padding: 50px;
  margin: 75px;
}

#experience-list{
  /*background-color:#ffe6f2;*/
  background-color: #C68EA0;
  list-style-type: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  gap: 0.5rem;
}

#experience-list li{
  padding: 15px;
}

.e-list{
  margin: 0;
}

.e-date{
  justify-items: flex-end;
}


/* SKILLS SECTION */
#Skills{
  margin: 75px;
  padding: 50px;
}

#Skills ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#Skills li{
  font-size: medium;
  background-color:#ffe6f2;
  padding: 0.5rem 1rem;
}


/*PROJECT SECTION*/ 
#Projects{
  margin: 75px;
  padding: 50px;
}

/*CONNECT SECTION */

#Connect{
  padding: 50px;
  margin: 75px;
}

#Connect ul {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 0.75rem;
  padding: 0;
  list-style-type: circle;
}

#Connect a {
  color: #660033;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.6rem;
}

#Connect a hover{
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}


/* mobile set up */

@media (max-width: 400px) {
  h1{
    font-size: 0.75em;
    margin-top: 1.5rem;
  }
  header nav ul{
    gap: 0.25rem;
  }
}

/*   tablet set up */

@media (min-width: 401px){
  .container {
    flex-wrap: wrap;
  }
  .container > li {
    flex: 1 1 50%;
  }
  h1{
    font-size: 2.5em;
    color:slateblue;
    margin-top: 3rem;
  }
  header nav ul{
    gap: .5rem;
  }
  #connect ul{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    justify-content: center;
  }
}


/*   desktop set up */
@media (min-width: 700px){
  h1{
    font-size: 3.5rem;
    color:rgb(196, 18, 160);
    margin-top: 3.5rem; 
  }
  #connect ul{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
  }
}