main{
  margin: 0;
}

body{
  background-color: pink;
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}


#About{
  text-align: center;
}

.header{
  text-align: center;
  font-size: 2em;
  font-weight: 650;
  color: #660033;
}

.container{
  border: 5px solid salmon;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
}


@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
  .container > li {
    flex: 1 1 50%;
  }
  
}

#main-name{
  font-size: 3em;
  font-style: italic;
  text-align: center;
}


#fresa{
  max-width: 20%;
  height: 20%;
  border-radius: 8px;
  object-fit: contain;
}

#Experience, #Connect{
  border: 2px solid #CC6600;
  padding: 50px;
  margin: 75px;
}

#experience-list{
  background-color:#ffe6f2;
  list-style-type: none;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.e-list{
  margin: 0;
}

.e-date{
  justify-items: flex-end;
}


#connect-list{
  list-style-type: circle;
  display:flex;
  justify-content: space-around;
}

a {
  color: #660033;
  text-decoration: none;
  font-weight: bold;
}

a hover{
  color: white;
  background: #660033;
  padding: 5px 10px;
  border-radius: 5px;
}
